.Section {
  background-color: #92390f;
  height: 50vh;
  display: flex;
  box-shadow: #000 0 0 1vh;
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
}


/* Home */
.Home {
  font-size: 2vh;
  display: flex;
  width : 100vw;
  height: 100%;
}
.Home section{
  margin-top: 10vh;
  margin-left: 10vw;
}
.Home img{
  position: absolute;
  height: 40vh;
  pointer-events: none;
  margin-left: 60vw;
  margin-top: 10vh;
}

/* About */
.About {
  font-size: 2vh;
  display: flex;
  width : 100vw;
  height: 100%;
}
.About section{
  margin-top: 10vh;
  margin-left: 10vw;
}
.About img{
  outline: 0.5vh solid #000;
  position: absolute;
  height: 40vh;
  pointer-events: none;
  margin-left: 60vw;
  margin-top: 5vh;
  box-shadow: 2vh 2vh 2vh #000;
}

/* Contact */
.Contact {
  font-size: 2vh;
  display: flex;
  width : 100vw;
  height: 100%;
}
.Contact section{
  margin-top: 10vh;
  margin-left: 10vw;
}
.Contact img{
  position: absolute;
  height: 40vh;
  pointer-events: none;
  margin-left: 60vw;
  margin-top: 5vh;
}
